.NavbarComponent {
  padding: 0 10px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: transparent;
  transition: background-color 1s ease;
  z-index: 2;

  &.scrolled {
    background-color: black;
  }

  .NavbarComponent__Center {
    img {
      width: 60px;
      height: auto;
    }
  }

  .NavbarComponent__Right {
    cursor: pointer;

    img {
      width: 60px;
    }

    &:hover {
      transition: 0.2s ease-in;
    }
  }
}
