.HeaderComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  margin-bottom: 30px;
  background-color: rgb(59, 26, 0);
  color: #fff;
  overflow: hidden;

  .HeaderComponent__Img {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 427px) {
      img {
        margin-top: 20px;
        width: 90px;
      }
    }
  }

  .HeaderComponent__Name h1 {
    margin: 20px 0;
  }

  .HeaderComponent__About {
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.fadeIn {
      opacity: 1;
    }

    p {
      font-size: 30px;
      line-height: 40px;

      @media (max-width: 427px) {
        font-size: 20px;
      }
    }
  }

  .HeaderComponent__Drinks {
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.fadeIn {
      opacity: 1;
    }

    .HeaderComponent__Drinks_Left,
    .HeaderComponent__Drinks_Right {
      opacity: 0;
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }

    .HeaderComponent__Drinks_Left {
      order: 1;
      transform: translateX(-100%);

      &.slideInLeft {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .HeaderComponent__Drinks_Right {
      font-size: 30px;
      order: 2;
      text-align: center;
      transform: translateX(100%);

      &.slideInRight {
        transform: translateX(0);
        opacity: 1;
      }

      p {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 427px) {
  .HeaderComponent__Drinks {
    margin: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .HeaderComponent__Drinks_Left img {
      font-size: 20px;
    }

    .HeaderComponent__Drinks_Right p {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .HeaderComponent__Drinks_Right {
    display: none;
  }
}
