.HeaderComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  margin-bottom: 30px;
  background-color: rgb(59, 26, 0);
  color: #fff;

  .HeaderComponent__Name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .HeaderComponent__About p {
    margin-top: 40px;
    font-size: 30px;
    line-height: 40px;
  }

  .HeaderComponent__Drinks {
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0; /* начальная прозрачность */
    animation: fadeIn 1s ease-in-out forwards; /* анимация появления */

    .HeaderComponent__Drinks_Left {
      order: 1;
      animation: slideInLeft 1s ease-in-out forwards; /* анимация появления слева */
    }

    .HeaderComponent__Drinks_Right {
      text-align: center;
      font-size: 30px;
      line-height: 40px;
      order: 2;
      text-align: right;
      animation: slideInRight 1s ease-in-out forwards; /* анимация появления справа */

      p {
        margin-right: 20px; /* Добавьте отступ, чтобы текст не прижимался к краю */
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes slideInLeft {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes slideInRight {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 427px) {
  .HeaderComponent__Drinks {
    margin: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .HeaderComponent__Drinks_Left img {
      font-size: 20px;
    }

    .HeaderComponent__Drinks_Right p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
