.MenuComponent {
  width: 100%;
  z-index: 1;

  h2 {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .MenuComponent__List {
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
